name: Test and build mohist 1.21

on:
  push:
    branches: [ 1.21 ]
  pull_request:
    branches: [ 1.21 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 22
      uses: actions/setup-java@v3
      with:
        java-version: 22
        distribution: 'temurin'

    - name: Download Gradle using proxy
      run: |
        curl -L -o gradle-8.7-bin.zip https://v.wuyu.email/py/services.gradle.org/distributions/gradle-8.7-bin.zip
        mkdir -p /home/runner/.gradle/wrapper/dists/gradle-8.7-bin/gradle-8.7-all/
        mv gradle-8.7-bin.zip /home/runner/.gradle/wrapper/dists/gradle-8.7-bin/gradle-8.7-all/

    - name: Setup mohist 1.21
      run: |
        chmod +x ./gradlew
        ./gradlew setup

    - name: Build mohist 1.21
      run: |
        chmod +x ./gradlew
        ./gradlew mohistJar

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: Mohist-1.21-343-server
        path: projects/mohist/build/libs/mohist-1.21-343-server.jar
